body{
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    width: 100vw;
    margin :100px auto;
    
}
#date-form{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:100vw;
    margin :100px auto;
}
#card-wrap{
    display:flex;
    flex-direction: column;
    width:100vw;
    height: 300vh;
    margin :100px auto;
}
#countdown{
    padding-right: 40px;
}

.card{
    display : flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    text-align: center;
    list-style: none;
    border-radius: 25px;
    border: 1px solid rgb(104, 99, 99);
    box-shadow: 5px 5px 20px;
    margin:20px;
}


@media (min-width: 320px) and (max-width: 480px) {
    h1{
        text-align: center;
        width: 100vw;
        margin :100px 0px 30px 0px ;
        
    }
    #date-form{
        display: flex;
        flex-direction: column;
        
        width:100vw;
        margin :40px 0px 20px 0px;
    }
    #date-form > div {
        margin: 20px auto;
    }
    #card-wrap{
        display:flex;
        flex-direction: column;
        width:100vw;
        height: 300vh;
        margin :20px auto;
    }
    #countdown{
        padding-left: 0px;
    }
}